/* @group Image replacement */

.IR {
  display: block;
  position: relative;
  margin: 0px;
  overflow: hidden;
  background-position: left top;
  background-repeat: no-repeat;
}

.IR span {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* @end */

/* @group Clear fix */

.group:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

/* @end */