<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie ie7 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie ie9 lt-ie10"> <![endif]-->
<!--[if IE 10]>    <html class="no-js ie ie10"><![endif]-->
<!--[if (gt IE 10)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

<title><%= @item[:title] %></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<!-- Styles - General -->
<link href="style/main.css" type="text/css" rel="stylesheet" media="all">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,300,400,600" rel="stylesheet">

<!-- Scripts -->
<!-- <script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="script/main.js"></script> -->

</head>

<body id="<%= @item[:id]%>" class="<%= @item[:bodyClass]%>">