/**
 * Main Style Sheet
 *
 * @author Hanzo - http://www.hanzo.es
 */

/* @group Image replacement */

*.IR {
  display: block;
  position: relative;
  margin: 0px;
  overflow: hidden;
  background-position: left top;
  background-repeat: no-repeat;
}

*.IR span {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* @end */

/* @group Clear fix */

.group:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

/* @end */

/* @group Hidden elements */

*.hidden {
  text-indent: -9999px!important;
  height: 0px!important;
  width: 0px!important;
  display: block!important;
  margin: 0px!important;
  padding: 0px!important;
}

/* @end */

/* @group Layout */

body {
  background-color: #ffffff;
}

/* Wrappers */



/* @end */

/* @group Header */

#header {

}

/* @end */

/* @group Nav */

#nav {

}

#nav ul {
  margin: 0px;
}

/* @end */

/* @group Footer */

#footer {

}

/* @end */